.container {
    position: relative;
}

.content {
    padding: 30px 0 16px;
    display: flex;
}

.item {
    flex: 1
}

.logo {
    position: absolute;
    left: 10px;
    top: -50px;
}

.logo > img {
    width: 70px;
    height: 70px;
}